input.form-control {
  width: 100%;
  height: 28px;
  background-color: white;
  &:focus {
    border: 1px solid #f0a322;
  }
}

.form-style {
  color: #3a3a3a;
  border: 1px solid rgb(184, 176, 176);

  &:focus {
    border: 1px solid yellow;
  }
}
