/* You can add global styles to this file, and also import other style files */
@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-balham.css';

.ag-status-bar {
  min-height: 35px;
}

.ngui-auto-complete ul {
  height: 145px;
}

.ngui-auto-complete li {
  border: none !important;
}

.ag-cell-focus,
.ag-cell-no-focus {
  border: none !important;
}

.ag-row-hover {
  background-color: #fff !important;
}
