<ag-grid-angular
  #agGrid
  style="width: 300px; height: 600px; margin: auto;"
  class="ag-theme-balham"
  [gridOptions]="gridOptions"
  [defaultColDef]="defaultColDef"
  [columnDefs]="columnDefs"
  [frameworkComponents]="frameworkComponents"
  [rowSelection]="rowSelection"
  [enableRangeSelection]="true"
>
</ag-grid-angular>
<br />
<hr />
<br />
<h4 style="text-align: center;">NOTE:<br />Styling to be added when design has been completed</h4>
